{% block body %}
  {% if session.logged_in %}
      {% endif %}
      <form>
	<a class="login" href="{{url_for('login')}}">have an account? login here!</a>
      </form>
      <form>
	<a class="register" href="{{url_for('register')}}">not a member? register here</a>
      </form>
  <ul class=entries>
  {% for entry in entries %}
  <li><h2>{{ entry.title }}</h2>{{ entry.username }}
  <li>{{ entry.username }}
  {% else %}
    <li><em>No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
